.App {
  text-align: center;
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
.count{
  text-align: center;
  color: #314254;
}
.count__btn{
  color: white;
  background-color: #4c5e70;
  padding: 8px 40px;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 500;
  border-style: none;
}
